/* general selectors */
:root {
    --primary-bg-col: #e3ffd0;
    --primary-text-col: #1f1835;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    background-size: repeat;
}

h3 {
    line-height: 0;
    margin-bottom: 40px;
}

h4 {
    padding-top: 40px;
}

button {
    cursor: pointer;
}

/* classes */
.builder {
    padding: 20%;
    padding-top: 30px;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
}

.buttons button {
    margin-left: 20px;
    margin-right: 20px;

    padding: 5px;
}

.nav-picker {
    line-height: 2;
}

/* navbar */
.navbar {
    position: fixed;

    width: 100%;
    height: fit-content;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;

    background-color: hsl(33, 100%, 88%);

    align-items: center;
}

#nav-links {
    display: inline;
    float: left;
    list-style-type: none;
}

#err-navbar {
    color: red;
    font-size: 10pt;
    line-height: 0.9;

    opacity: 0;
}