/* general selectors */
:root {
    --primary-bg-col: #e3ffd0;
    --primary-text-col: #1f1835;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    background-size: repeat;
}

h3 {
    line-height: 0;
    margin-bottom: 40px;
}

h4 {
    padding-top: 40px;
}

button {
    cursor: pointer;
}

form {
    line-height: 2;
}

/* classes */
.builder {
    padding: 20%;
    padding-top: 30px;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
}

.buttons button {
    margin-left: 20px;
    margin-right: 20px;

    padding: 5px;
}

/* navbar */
#navbar {
    position: fixed;

    width: 100%;
    height: 80px;

    padding-left: 10%;
    padding-right: 10%;

    background-color: hsl(33, 100%, 88%);

    align-items: center;

    /* opacity: 0; */
}

#nav-links li {
    display: inline;
    float: left;
    list-style-type: none;

    margin-right: 30px;
}

@keyframes shakeAnimation {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(0px); }
    20%, 40%, 60%, 80% { transform: translateX(1000px); }
  }

#nav-links a {
    text-decoration: none;

    display: block;
    padding: 15px;

    color: black;

    cursor: pointer;
}

.a-animated {
    animation-name: shakeAnimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
}

#nav-links a:hover {
    background-color: white;
}

.err {
    color: red;
    font-size: 10pt;
    line-height: 0.9;

    opacity: 0;
}

/* navbar links */
